
.mfp-bg.mfp-wqv,
.mfp-wrap.mfp-wqv {
	z-index: 285642;
}

.wqvp-fancybox-wrapper, .mfp-wqv~.fancybox-container {
	z-index: 2856429;
}
#wqv-quick-view-content .wqv-product-info .woocommerce-product-rating .star-rating::before{
	color: #dadada;
	opacity: 1;
}
#wqv-quick-view-content .wqv-product-info .woocommerce-product-rating .star-rating span:before{
	color: #ff9800;
}
#wqv-quick-view-content .wqv-product-info a.added_to_cart,
#wqv-quick-view-content .wqv-product-info .single_add_to_cart_button.button:not(.components-button):not(.customize-partial-edit-shortcut-button){
	color: #ffffff;
	background: #333333;
	padding: 0px 16px;
	line-height: 35px;
}
#wqv-quick-view-content .wqv-product-info a.added_to_cart:hover,
#wqv-quick-view-content .wqv-product-info .single_add_to_cart_button.button:not(.components-button):not(.customize-partial-edit-shortcut-button):hover {
	color: #ffffff;
	background: #1a1a1a;
}
#wqv-quick-view-content .wqv-product-info .single_add_to_cart_button.button:not(.components-button):not(.customize-partial-edit-shortcut-button){
	margin-right: 5px;
}
a#sp-wqv-view-button.button.sp-wqv-view-button,
#wps-slider-section .button.sp-wqv-view-button,
#wpsp-slider-section .button.sp-wqv-view-button {
	background: transparent;
	color: #bfbfbf;
}
a#sp-wqv-view-button.button.sp-wqv-view-button:hover,
#wps-slider-section .button.sp-wqv-view-button:hover,
#wpsp-slider-section .button.sp-wqv-view-button:hover {
	background: #ffffff;
	color: #ffffff;
}
#wqv-quick-view-content.sp-wqv-content {
	background: rgba(255,255,255,0.65);
}

@media (min-width: 1023px) {
	#wqv-quick-view-content.sp-wqv-content {
		max-width: 1200px;
		max-height: 800px;
	}
	#wqv-quick-view-content .wqv-product-images img,
	#wqv-quick-view-content .wqv-product-images img{
		max-height: 800px;
	}
	.wqv-product-info .wqv-product-content{
		height:100%;
		padding: 12px;
		overflow: auto;
		max-height: 800px;
		max-width: 1200px;
		position: relative;
	}
}
.mfp-bg.mfp-wqv{
	background: rgba( 0, 0, 0, 0.8);
	opacity: 1;
}
.mfp-wqv #wqv-quick-view-content .mfp-close{
	width: 35px;
    height: 35px;
    opacity: 1;
    cursor: pointer;
    top: 0px;
    right: 0;
    position: absolute;
    background: transparent;
    font-size: 0;
}

.mfp-wqv #wqv-quick-view-content .mfp-close:before{
	color: #9a9a9a;
	font-size: 16px;
    transition: .2s;
    margin-top: 8px;
}
.wqv-product-info{
	padding: 12px;

}
.mfp-preloader{
	color: #ffffff;
}
.mfp-wqv #wqv-quick-view-content .mfp-close:hover {
    background: #F95600;
    font-size: 0;
    border-radius: 0px;
}
.mfp-wqv #wqv-quick-view-content .mfp-close:hover:before{
	color: #ffffff;
}
#sp-wqv-view-button.sp-wqv-view-button.button i:before{
	font-size: 14px;
}
a#sp-wqv-view-button.button.sp-wqv-view-button,
	#wps-slider-section .button.sp-wqv-view-button,
	#wpsp-slider-section .button.sp-wqv-view-button {
		border: 1px solid #ffffff;
	}
	a#sp-wqv-view-button.button.sp-wqv-view-button:hover,
	#wps-slider-section .button.sp-wqv-view-button:hover,
	#wpsp-slider-section .button.sp-wqv-view-button:hover {
		border-color: #ffffff;
}a#sp-wqv-view-button.button.sp-wqv-view-button,
	#wps-slider-section .button.sp-wqv-view-button,
	#wpsp-slider-section .button.sp-wqv-view-button {
		padding: 9px 16px;
	}
